* {
  margin: 0;
}
.main-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);

  width: 15vw;
  height: auto;
}
.element-box {
  border: 1px solid black;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
  text-align: center;
}
.top-row {
  display: flex;
  justify-content: space-around;
  font-size: small;
  margin-top: 3px;
}
.mid-row {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
.bottom-row {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  align-content: center;
  margin-bottom: 3px;
}
.element-box-hidden {
  background-color: transparent;
}
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(7, 1fr);

  width: 70vw;
  height: auto;
  margin-left: 2vw;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 60vw;
  height: 15vh;
  align-self: center;
  margin-left: 12vw;
}
.idk-what-im-doing {
  width: 80vw;
  height: 50vh;
  display: flex;

  margin-bottom: 10vh;
  margin-top: 10vh;
}

.reactive-nonmetals {
  background-color: #2a4165;
}

.alkaline-metals {
  background-color: #244d57;
}

.alkaline-earth-metals {
  background-color: #622e39;
}

.transition-metals {
  background-color: #433c65;
}

.metaloids {
  background-color: #523e1b;
}

.noble-gases {
  background-color: #623842;
}

.post-transition-metals {
  background-color: #2f4d47;
}

.transactinide-elements {
  background-color: #46474c;
}

.lanthanoids {
  background-color: #004a77;
}
.actinoids {
  background-color: #864828;
}

.legend {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  color: #fff;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
}

li {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
}
.sample {
  width: 20px;
  height: 20px;

  margin-right: 15px;
  border-radius: 50%;
}
.sample-color1 {
  background-color: #244d57;
}
.sample-color2 {
  background-color: #523e1b;
}
.sample-color3 {
  background-color: #864828;
}
.sample-color4 {
  background-color: #622e39;
}
.sample-color5 {
  background-color: #2a4165;
}
.sample-color6 {
  background-color: #46474c;
}
.sample-color7 {
  background-color: #433c65;
}
.sample-color8 {
  background-color: #623842;
}
.sample-color9 {
  background-color: #2f4d47;
}
.sample-color10 {
  background-color: #004a77;
}

/* 

<div class="top-row">
              <p></p>
              <p></p>
            </div>
            <div class="mid-row"></div>
            <div class="bottom-row"></div> 
            
            
            
            */
